/* ++++++++++ globals ++++++++++++++++++++++++++++++++++++++++++ */

.video-toggle {
    background: transparent;
    width: fit-content;
    color: white;
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 var(--space-sm);
}

.svg-icon {
    width: 3.125rem;
}

/* video overlay */
.overlay::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #000000bd;
}

/* ++++++++++ header ++++++++++++++++++++++++++++++++++++++++++ */

.site-header {
    background: var(--color-bg);
    padding: var(--space-sm);
}

.logo {
    font-family: var(--font-body);
    font-size: var(--text-3xl);
    text-decoration: none;
    color: var(--color-text);
    font-weight: 800;
}

/* nav links */
.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    border: 1px solid var(--color-text);
    border-radius: var(--radius-5);
    color: var(--color-text);
    padding: var(--space-xxs) var(--space-xs);
}

.nav-link:hover {
    background: var(--color-text);
    color: var(--color-bg);
}

/* ++++++++++ hero ++++++++++++++++++++++++++++++++++++++++++ */

.hero {
    border-radius: var(--radius-10);
}

.hero-video {
    object-fit: cover;
}

.hero-sub {
    font-size: var(--text-2xl);
}

.hero-content {
    color: var(--color-bg);
    text-align: left;
    padding: 0 var(--space-md);
    /* ensures content stacks above the video */
    position: relative;
    gap: var(--gap-2);
}

.actions {
    display: flex;
    gap: var(--gap-2);
    /* justify-content: center; */
}

.btn-primary,
.btn-ghost {
    border: 2px solid var(--color-text-light);
    background: var(--color-bg-dark);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-5);
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--text-lg);
}

.external-link-icon {
    width: 1.25rem;
}

.btn-primary:hover,
.btn-ghost:hover {
    background: var(--color-accent);
    color: var(--color-text-light);
    text-decoration: underline;
}

/* ++++++++++ tech stack ++++++++++++++++++++++++++++++++++++++++++ */

.logo-list li {
    list-style-type: none;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

/* ++++++++++ statement ++++++++++++++++++++++++++++++++++++++++++ */
.statement {
    background: var(--color-bg-light);
    border-radius: var(--radius-10);
    color: var(--color-text-dark);
    padding: var(--space-lg);
    border: 2px solid var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    gap: var(--gap-3)
    
}

.quote {
    font-size: var(--text-5xl);
    text-align: center;
    line-height: var(--leading-tight);
}

/* ++++++++++ solution ++++++++++++++++++++++++++++++++++++++++++ */

.card-title {
    font-size: var(--text-2xl);
}

.feature-cards {
    list-style-type: none;
}

.card-img {
    object-fit: cover;
    border-radius: var(--radius-5);
}

.card-actions a:hover {
    text-decoration: none;
}

/* ++++++++++ research ++++++++++++++++++++++++++++++++++++++++++ */

.research {
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

.research-list {
    list-style-type: none;
}

.research-copy h2 {
    font-size: var(--text-4xl);
}

.research-paragraph {
    font-size: 1.2rem;
    font-weight: normal;
}

.research-list-links a {
    text-decoration: none;
    color: var(--color-text-light);
}

.research-list-links a:hover {
    text-decoration: underline;
}

.research-list-links hr {
    margin: var(--space-sm) 0;
}

/* ++++++++++ methodology ++++++++++++++++++++++++++++++++++++++++++ */

.methodology {
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

/* ++++++++++ footer ++++++++++++++++++++++++++++++++++++++++++ */

.site-footer {
    background: var(--color-text);
}

.footer-links {
    list-style-type: none;
}

.footer-links a,
.footer-logo {
    color: var(--color-text-light);
    text-decoration: none;
}

/* still marked temporary */
.copyright {
    text-align: center;
    color: var(--color-text-light);
    font-size: var(--text-sm);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              MEDIA QUERIES 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* mobile */
@media (min-width: 26.25em) {
    .card {
        min-width: 15rem;
    }
}

/* tablet */
@media (min-width: 48em) {

    .statement,
    .research-inner,
    .phases,
    .methodology {
        padding: var(--space-xl);
    }

    .solution-card-container {
        padding: 0 var(--space-xl);
    }
}

/* desktop */
@media (min-width: 64em) {

    .solution-card-container,
    .phases {
        padding: 0 var(--gap-2);
    }

    .research-inner,
    .statement,
    .methodology,
    .tech {
        padding: var(--space-4xl);
    }



}

/* hero video */
@media (prefers-reduced-motion: reduce) {
    .hero-video {
        display: none;
    }

    .hero {
        /* fallback to the solid color */
        background: var(--color-text);
    }
}