/* global */

.video-toggle {
    background: transparent;
    width: fit-content;
    color: white;
    font-size: 3rem;
    border: 0;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 var(--space-sm);
}

.svg-icon {
    width: 3.125rem
}

/* ++++++++++ header ++++++++++++++++++++++++++++++++++++++++++ */

.site-header {
    background: var(--color-bg);
    padding: var(--space-sm);
}

/* logo */
.logo {
    text-decoration: none;
    width: 5rem;
}

/* removes descender gap underneath logo img, so everytying sits inline */
.logo img,
header img {
    display: block;
}

/* nav links */
.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    border: 1px solid var(--color-text);
    border-radius: var(--radius-5);
    color: var(--color-text);
    padding: var(--space-xxs) var(--space-xs);
}

.nav-link:hover {
    background: var(--color-text);
    color: var(--color-bg);
}

/* ++++++++++ hero ++++++++++++++++++++++++++++++++++++++++++ */

/* hero: video overlay */
.hero::before {
    background: #000000bd;
}

.hero {
    border-radius: var(--radius-10);
}

.hero-video {
    object-fit: cover;
}

.hero-content {
    color: var(--color-bg);
    text-align: left;
    padding: 0 var(--space-md);
    /* ensures content stacks above the video */
    position: relative;
    gap: var(--gap-2);
}

.actions {
    display: flex;
    gap: var(--gap-2);
    /* justify-content: center; */
}

.btn-primary,
.btn-ghost {
    background: var(--color-text-light);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-5);
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--text-lg);

}

.btn-primary:hover,
.btn-ghost:hover {
    background: var(--color-accent);
    color: var(--color-text-light);
    text-decoration: underline;
}

/* ++++++++++ tech stack ++++++++++++++++++++++++++++++++++++++++++ */


.logo-list li {
    list-style-type: none;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

/* ++++++++++ statement ++++++++++++++++++++++++++++++++++++++++++ */
.statement {
    background: var(--color-bg-dark);
    border-radius: var(--radius-10);
    color: var(--color-text-light);
    padding: var(--space-lg);
}

.quote {
    font-size: var(--text-4xl);
    text-align: center;
}

/* ++++++++++ features ++++++++++++++++++++++++++++++++++++++++++ */

.card-title {
    font-size: var(--text-2xl);
}

.feature-cards {
    list-style-type: none;
}

.card-img {
    object-fit: cover;
    border-radius: var(--radius-5);
}

.card-actions a:hover {
    text-decoration: none;
}

/* ++++++++++ research ++++++++++++++++++++++++++++++++++++++++++ */

/* video overlay */
.research::before {
    background: #000000bd;
}

.research {
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

.research-list {
    list-style-type: none;
}

.research-copy h2 {
    font-size: var(--text-4xl);
}

.research-paragraph {
    font-size: 1.2rem;
    font-weight: normal;
}

.research-list-links a {
    text-decoration: none;
    color: var(--color-text-light);
}

.research-list-links a:hover {
    text-decoration: underline;
}

.research-list-links hr {
    margin: var(--space-sm) 0;
}



/* ++++++++++ phases ++++++++++++++++++++++++++++++++++++++++++ */

.phase-list {
    list-style-type: none;
}

.phase-img {
    border-radius: var(--radius-10);
}

/* ++++++++++ methodology ++++++++++++++++++++++++++++++++++++++++++ */

.methodology::before {
    background: #000000bd;
}

.methodology {
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: var(--radius-10);
}

/* ++++++++++ footer ++++++++++++++++++++++++++++++++++++++++++ */

.site-footer {
    background: var(--color-text);
}

.footer-links {
    list-style-type: none;
}

.footer-links a,
.footer-logo {
    color: var(--color-text-light);
    text-decoration: none;
}

.footer-links a:hover,
.footer-logo:hover {
    text-decoration: underline;
}

.footer-logo {
    color: var(--color-text-light);
}

/* still marked temporary */
.copyright {
    text-align: center;
    color: var(--color-text-light);
    font-size: var(--text-lg);
}



/* +++++++++++++++++++++++++++++++++++++++++
            MEDIA QUERIES 
+++++++++++++++++++++++++++++++++++++++++ */

@media (min-width: 26.25em) {
    .card {
        min-width: 15rem;
    }
}

@media (min-width: 48em) {
    .statement {
        padding: var(--space-xl);
    }
}

@media (min-width: 64em) {
    .statement {
        padding: var(--space-4xl);
    }
}

/* hero video */
@media (prefers-reduced-motion: reduce) {
    .hero-video {
        display: none;
    }

    .hero {
        /* fallback to the solid color */
        background: var(--color-text);
    }
}