/* ++++++++++ globals ++++++++++++++++++++++++++++++++++++++++++ */
.max-w-1600 {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

main,
.site-footer {
    padding: var(--space-sm);
}

/* ++++++++++ header ++++++++++++++++++++++++++++++++++++++++++ */

header {
    padding: 0.5rem 1.1rem;
}

/* header content */
.header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: var(--gap-1);
}

/* ++++++++++ hero ++++++++++++++++++++++++++++++++++++++++++ */

main {
    padding-top: 0;
    gap: var(--gap-4);
}

.hero::before {
    position: absolute;
    inset: 0;
    content: "";
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 85dvh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ++++++++++ tech stack ++++++++++++++++++++++++++++++++++++++++++ */

.tech {
    min-height: 15.625rem;
}

.logo-list {
    display: flex;
    gap: var(--gap-1);
}

.logo-list li {
    padding: var(--space-md);
}


/* ++++++++++ statement ++++++++++++++++++++++++++++++++++++++++++ */

.statement {
    min-height: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ++++++++++ features ++++++++++++++++++++++++++++++++++++++++++ */

.features-card-container {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-1);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.card-img {
    width: 100%;
    aspect-ratio: 16/9;
}

/* ++++++++++ research ++++++++++++++++++++++++++++++++++++++++++ */

.research::before {
    position: absolute;
    inset: 0;
    content: "";
}

.research {
    min-height: 500px;
    display: flex;
    align-items: center;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.research-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.research-inner {
    display: flex;
    align-items: stretch;
    flex: 1;
    padding: var(--space-4xl);
    z-index: 2;
}

.research-copy {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.research-list-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-1);
}

.research-link-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.research-copy>p {
    width: 50%;
}

.research-nav {
    flex: 0 0 40%;
}

.research-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

/* ++++++++++ phases ++++++++++++++++++++++++++++++++++++++++++ */

.phases {
    min-height: 500px;
}

.phase-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.phase-list>li {
    display: flex;
}

.phase-list article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.phase-img {
    width: 100%;
    aspect-ratio: 16/9;
}

/* ++++++++++ methodology ++++++++++++++++++++++++++++++++++++++++++ */

.methodology {
    display: flex;
    align-items: center;
    gap: var(--gap-4);
    padding: var(--space-4xl);
}

.methodology-inner {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.methodology-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--gap-1);
}

.methodology-list {
    padding: var(--space-sm) var(--space-lg);
}

.methodology-list-container {
    flex: 0 0 50%;
}

/* ++++++++++ footer ++++++++++++++++++++++++++++++++++++++++++ */
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
}

/* desktop */
@media (min-width: 64em) {}